body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: chocolate;
}

.header {
  font-family: "Oswald", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 7rem;
  max-width: 50%;
  margin: 30px;
}

p {
  font-family: "Oswald", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 30px;
  max-width: 50%;
  height: auto;
}

.menu {
  position: absolute;
  font-size: 48px;
  right: 15px;
  top: 15px;
  padding: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
}

@media screen and (max-width: 1001px) {
  .header {
    max-width: 80%;
    font-size: 5rem;
  }

  p {
    max-width: 80%;
  }
}

@media screen and (max-width: 701px) {
  .header {
    margin-top: 100px;
    max-width: 100%;
    font-size: 4rem;
  }

  p {
    max-width: 80%;
  }
}
